table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 18px 10px;
}
th {
  color: var(--dark);
}
td {
  font-size: medium;
}
.select-food {
  width: 6.5em;
  cursor: pointer;
  padding: 3px;
}

.submit-food-pref {
  margin-top: 3rem;
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
}

.submit-data .reset-data {
  color: white;
}
