@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: var(--poppins);
}
html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

.bold-text {
  font-weight: 650;
}
body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  /* overflow-x: hidden; */
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}
.container {
  background-color: var(--light);
  border-radius: 15px;
  margin: 2em auto;
  box-shadow: 5px 5px 1rem hsl(0, 0%, 70%);
  padding: 2em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.date-inputs {
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 2rem;
  margin: 2em 0;
}

input[type="date"] {
  padding: 0.7em 1em;
  margin-inline: 1em;
  outline: none;
  border: none;

  border-radius: 0.5rem;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.4em;
  padding: 0.7em 1.25em;
  color: #fff;
  background-color: var(--blue);
  position: relative;
  transition: transfom 1s ease-in;
}
button:hover {
  transition: transfom 1s ease-in;
  transform: translateY(-2px) scale(1.03);
}

button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  border-radius: inherit;
  box-shadow: 3px 3px 5px hsl(0, 0%, 80%);
  opacity: 0;
  transition: opacity 150ms ease-in, transfom 500ms ease-in;
}

button:is(:hover)::after {
  opacity: 1;
}

.btn-container {
  margin-top: auto;
}
.leave-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.date-list {
  display: none;
  -webkit-animation: slide-in 500ms ease-in forwards;
  animation: slide-in 500ms ease-in forwards;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

label {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.food-catagory,
.leave-day-preference {
  margin: 0.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.food-catagory input {
  display: block;
}

.leave-list div {
  text-align: center;
}

label {
  display: grid;
  place-items: center;
}
.select-all-food {
  padding-right: 1em;
  display: grid;
  place-items: end;
}
.check-all {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
}
.check-all:is(:checked)::before {
  content: "Deselect All";
}
.check-all:is(:not(:checked))::before {
  content: "Select All";
}
.check-all::before {
  inset: 0;
  background-color: var(--blue);
  color: white;
  border-radius: 0.2em;
  padding: 0.25em 0.5em;
}
.bold-text {
  padding-right: 7px;
}
.submit {
  display: block;
  margin: 1em 1em 0 auto;
}
