@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: var(--poppins);
}
html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}
body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}
.container {
  background-color: var(--light);
  border-radius: 15px;
  margin: 2em auto;
  box-shadow: 5px 5px 1rem hsl(0, 0%, 70%);
  padding: 2em;
  width: 900px;
  height: 390px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 18px 10px;
}
th {
  color: var(--dark);
}
td{
    font-size:medium;
}
#select-food {
    width: 6.5em;
    cursor: pointer;  
    padding: 3px;
}
.submit-table-data{
    border: none;
	outline: none;
	cursor: pointer;
	height: fit-content;
	border-radius: .4em;
	padding: .7em 1.25em;
	background-color:var(--blue);
    font-size: medium;
    box-shadow: 3px 3px 5px hsl(0, 4%, 50%);
    transition:  transfom 500ms ease-in;
    
}
button:hover{
    transition: transfom 1s ease-in;
	transform: translateY(-2px) scale(1.03);
}
.submit-food-pref{
    margin-top: 3rem;
    display: flex;
    justify-content:flex-end;
}
.reset-table-data{
    border: none;
	outline: none;
	cursor: pointer;
	height: fit-content;
	border-radius: .4em;
	padding: .7em 1.25em;
	background-color:var(--blue);
    font-size: medium;
    box-shadow: 3px 3px 5px hsl(0, 4%, 50%);
    transition:  transfom 500ms ease-in;
    margin-right: 10px;
}
