@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: var(--poppins);
}
html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}
body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}
.container {
  background-color: var(--light);
  border-radius: 15px;
  margin: 2em auto;
  box-shadow: 5px 5px 1rem hsl(0, 0%, 70%);
  padding: 2em;
  max-width: fit-content;
}
.input-feedback {
  width: 250px;
  padding: 3px;
}
.review-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

label {
  text-align: center;
  display: table-cell;
}
.reviw-label {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.review-submit{
    text-align: center;
    padding-top: 7px;
}
.review-submit  a{
    color: var(--dark);
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    background-color: var(--grey);
}

.submit:hover{
    box-shadow:3px 3px 5px hsl(0, 2%, 37%) ;
}
