*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eee;
}

img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin: 10px;
}
h4,p{
    text-align: center;
    font-size: 12px;
    margin: 7px;
}
.team-member{
    background-color: white;
    border-radius: .5em;
    padding: .7em 1.5em;
    box-shadow: 5px 5px 1rem hsl(0, 2%, 58%); 
}
.header{
    padding: 2em;
}
h1{
    text-align: center;
}

.team-container{
    display: grid;
    width: fit-content;
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
}
